<a href="https://colab.research.google.com/github/quanvu0996/compet/blob/master/kalapa_4student_net2_tensorflow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense, DenseFeatures, Dropout, BatchNormalization
from tensorflow.keras import Sequential
from tensorflow.keras.metrics import AUC, Precision, Recall
import tensorflow.keras.backend as K
from tensorflow import feature_column as fc
import matplotlib.pyplot as plt
import seaborn as sns; sns.set(style="ticks", color_codes=True)
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

%matplotlib inline

In [22]:
print(pd.__version__)
print(tf.__version__)

1.0.5
2.3.0

## Load data

In [23]:
submision_path = '/content/drive/My Drive/Data/colabs_data/kalapa_4students/simple_submission.csv'
train_path = '/content/drive/My Drive/Data/colabs_data/kalapa_4students/train.csv'
test_path = '/content/drive/My Drive/Data/colabs_data/kalapa_4students/test.csv'

In [24]:
def load_data(train_path, test_path, label_col = 'label'):
    train_set = pd.read_csv(train_path)
    test_set = pd.read_csv(test_path)
    return train_set, test_set

train_set, test_set = load_data( train_path, test_path )
cols = train_set.columns

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2822: DtypeWarning: Columns (35,43) have mixed types.Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2822: DtypeWarning: Columns (34,42) have mixed types.Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [25]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53030 entries, 0 to 53029
Columns: 195 entries, id to Field_82
dtypes: float64(133), int64(3), object(59)
memory usage: 78.9+ MB

### Data trasforming

In [26]:
# train_set[cols_categorical].head()
# train_set.Field_61.unique()

In [27]:
# len(train_set.Field_45.unique())
# cols_id

In [28]:
# len(train_set.homeTownCity.unique())

In [29]:
# train_set.C_endDate.unique()
# train_set.homeTownCity.hist()
# print(cols_docs)

In [30]:
train_set[cols_date].head()

                    Field_1               Field_2  ... A_startDate   A_endDate
0  2019-07-24T03:39:02.854Z  2019-07-31T20:10:02Z  ...  2019-06-11  2019-08-17
1                       NaN                   NaN  ...  2019-07-17  2019-07-17
2  2019-01-17T07:15:26.367Z  2019-01-17T07:17:45Z  ...  2019-09-19  2019-11-05
3                       NaN                   NaN  ...         NaN         NaN
4                       NaN                   NaN  ...         NaN         NaN

[5 rows x 29 columns]

In [31]:
# Nhãn
cols_label = ['label']
# Đặc trưng binary
cols_fts_binary = [i for i in train_set.select_dtypes(include=['float64','int64']).columns 
                   if len(set(train_set[i].fillna(0)) - {0,1} ) == 0 and i not in cols_label]
# định dang datte yyyy-mm-dd
cols_date = ['Field_1','Field_2','Field_5','Field_6','Field_7','Field_8','Field_9','Field_10','Field_11'
             ,'Field_15','Field_25','Field_32','Field_33','Field_35','Field_40','Field_43','Field_44'
             ,'F_startDate','F_endDate','E_startDate','E_endDate','C_startDate','C_endDate','G_startDate','G_endDate'
             ,'A_startDate','A_endDate']
# định dạng date yyymmdd
cols_date2 = ['ngaySinh', 'Field_34']
# Đặc trưng dạng văn bản
cols_docs = ['Field_46','diaChi','Field_48','Field_49','currentLocationName','homeTownName','Field_56']
# Định danh bản ghi
cols_id = ['id','Field_45'] +[i for i in train_set.select_dtypes(include = ['object']).columns 
                              if len(train_set[i].unique()) >=350 and i not in cols_date + cols_date2+cols_docs]
# Đặc trưng dạng categorical
cols_categorical = [i for i in train_set.select_dtypes(include = ['object']).columns
                    if i not in cols_id + cols_label+cols_date2+cols_date+cols_docs]
# Đặc trưng số
cols_fts_num = [ i for i in test_set.select_dtypes(include=['float64','int64']).columns 
                if i not in cols_id + cols_label + cols_fts_binary + cols_date2+cols_date+cols_docs]

In [82]:
# cols_categorical
cols_date2 = ['ngaySinh', 'Field_34']

In [33]:
# Đặc trưng số có dạng như categorical
cols_num_like_cat = [i for i in cols_fts_num if len(train_set[i].unique()) <= 15 ]
# Đặc trưng số đã kiểm chứng
cols_num = [i for i in cols_fts_num if i not in cols_num_like_cat]

cols_categorical = cols_categorical + cols_num_like_cat
cols_fts_num = [i for i in cols_fts_num if i not in cols_num_like_cat ]

In [34]:
# for i in cols_fts_num :
#   print(i, len(train_set[i].unique()))

Missing values

In [ ]:
train_data = train_set
predict_data = test_set

# Categorical: Fill giá trị null như một giá trị khác
train_data[cols_categorical] = train_set[cols_categorical].astype('object').fillna('#NULL#').applymap(str)
predict_data[cols_categorical] = test_set[cols_categorical].astype('object').fillna('#NULL#').applymap(str)

In [81]:
train_data[col]

0        20180107
1             NaN
2        20190102
3             NaN
4             NaN
           ...
53025    20191205
53026         NaN
53027    20170709
53028         NaN
53029         NaN
Name: Field_34, Length: 53030, dtype: object

In [103]:
# Date: với dữ liệu ngày thì tạo ra các cột ngày tương ứng và cross colum => embedding để giảm chiều

def trans_date_fts(df, col, format = 'yyyy-mm-dd'):
  '''format là 'yyyy-mm-dd' hoặc 'yyyymmdd' '''

  year_name = 'year_of'+col 
  month_name = 'month_of' + col
  day_name = 'day_of' + col
  if format == 'yyyy-mm-dd':
    df[year_name] = df[col].apply(lambda x: str(x[:4]) if len(str(x)) >8 else '#NULL#')
    df[month_name] = df[col].apply(lambda x: str(x[5:7]) if len(str(x)) >8 else '#NULL#')
    df[day_name] = df[col].apply(lambda x: str(x[8:10]) if len(str(x)) >8 else '#NULL#')
  else:
    df[year_name] = df[col].apply(lambda x: str(x)[:4] if len(str(x)) >8 else '#NULL#')
    df[month_name] = df[col].apply(lambda x: str(x)[4:6] if len(str(x)) >8 else '#NULL#')
    df[day_name] = df[col].apply(lambda x: str(x)[6:8] if len(str(x)) >8 else '#NULL#')

  ft1 = fc.categorical_column_with_vocabulary_list(year_name, df[year_name].unique() )
  ft2 = fc.categorical_column_with_vocabulary_list(month_name, df[month_name].unique() )
  ft3 = fc.categorical_column_with_vocabulary_list(day_name, df[day_name].unique() )
  ft = fc.crossed_column([ft1, ft2, ft3], hash_bucket_size = 366)
  ft = fc.embedding_column(ft, dimension= 64)

  return df, ft, [year_name, month_name, day_name]

fts_col_date = []
date_derivated_fts = []
for col in cols_date:
  train_data, date_fts_list_add, date_fts_name = trans_date_fts(train_data, col,format = 'yyyy-mm-dd')
  fts_col_date.append( date_fts_list_add )
  date_derivated_fts += date_fts_name
for col in cols_date2:
  train_data, date_fts_list_add, date_fts_name = trans_date_fts(train_data, col,format = 'yyyymmdd')
  fts_col_date.append( date_fts_list_add )
  date_derivated_fts += date_fts_name

for col in cols_date:
  predict_data, date_fts_list_add, date_fts_name = trans_date_fts(predict_data, col,format = 'yyyy-mm-dd')
for col in cols_date2:
  predict_data, date_fts_list_add, date_fts_name = trans_date_fts(predict_data, col,format = 'yyyymmdd')

In [85]:
X_train, X_test, y_train, y_test = train_test_split(train_data
                                                   ,train_data['label'].values
                                                   , stratify = train_data['label'].values 
                                                   ,test_size = 0.2
                                                   )

In [87]:
# Numerical: các trường chưa xử lý+ numerical fill giá trị -1

# train_data[cols_fts_num] = train_set[cols_fts_num].fillna(-1)
# predict_data[cols_fts_num] = test_set[cols_fts_num].fillna(-1)
# X_train[cols_fts_num] = (X_train[cols_fts_num] - X_train[cols_fts_num].mean() )/ X_train[cols_fts_num].std()
# X_test[cols_fts_num] = (X_test[cols_fts_num] - X_train[cols_fts_num].mean() )/ X_train[cols_fts_num].std()
# predict_data[cols_fts_num] = (predict_data[cols_fts_num] - X_train[cols_fts_num].mean() )/ X_train[cols_fts_num].std()
X_train = X_train.fillna(0)
X_test = X_test.fillna(0)
predict_data = predict_data.fillna(0)

Định nghĩa features

In [105]:
feature_columns = []
fts_cols = cols_fts_binary+cols_fts_num+cols_categorical + date_derivated_fts

# Với biến binary, load trực tiếp vào model
for col in cols_fts_binary:
  feature_columns.append(
      fc.numeric_column(col, dtype=tf.float32)
  )
# Với các biến numeric, sử dụng standard scaler + định nghĩa
# X_train[cols_fts_num] = (X_train[cols_fts_num] - X_train[cols_fts_num].mean() )/ X_train[cols_fts_num].std()
# X_test[cols_fts_num] = (X_test[cols_fts_num] - X_train[cols_fts_num].mean() )/ X_train[cols_fts_num].std()

for col in cols_fts_num:
  mean = X_train[col].mean()
  std = X_train[col].std()
  feature_columns.append(
      fc.numeric_column(col,
                        dtype=tf.float32
                        #, normalizer_fn = lambda x: ( x - mean )/ std 
                        ))
# Với các biến categorical, embed với số chiều bằng 1/10 +1 số chiều gốc
def embed_trans(feature_name, vocab):
  ft = fc.categorical_column_with_vocabulary_list(feature_name, vocab)
  ft = fc.embedding_column( ft,dimension= int(len(vocab)/10) +5 )
  return ft
for col in cols_categorical:
  vocabulary = train_set[col].unique()
  feature_columns.append(
      embed_trans(col, vocabulary)
  )


# Xây dựng layer
all_fts_cols = feature_columns +fts_col_date
feature_layer = DenseFeatures(all_fts_cols)

In [93]:
# A utility method to create a tf.data dataset from a Pandas Dataframe
def df_to_dataset(X, y, shuffle=True, batch_size=32):
  ds = tf.data.Dataset.from_tensor_slices((X.to_dict(orient='list'), y))
  if shuffle:
    ds = ds.shuffle(buffer_size=len(X))
  ds = ds.batch(batch_size)
  return ds

In [94]:
X_test.head()

          id  label  ... month_ofField_34 day_ofField_34
44181  44181      0  ...           #NULL#         #NULL#
29618  29618      0  ...           #NULL#         #NULL#
48677  48677      1  ...           #NULL#         #NULL#
12224  12224      0  ...           #NULL#         #NULL#
33041  33041      1  ...               09             04

[5 rows x 282 columns]

In [41]:
# scaler_1 = StandardScaler()
# X_train_scaled = scaler_1.fit_transform(X_train)
# X_test_scaled = scaler_1.transform(X_test)
# X_predict_scaled = scaler_1.transform( test_set[cols_fts_num].fillna(0) )

In [96]:
nets_2 = Sequential(
    [
    feature_layer,
    BatchNormalization (),
    Dense(512, activation ='relu'),
    Dropout(0.25), 
    BatchNormalization (),
    Dense(256, activation ='relu'),
    Dropout(0.25), 
    Dense(128, activation ='relu'),
    Dropout(0.25), 
    BatchNormalization (),
    Dense(64, activation ='relu'),
    Dropout(0.1), 
    Dense(16, activation ='relu'),
    Dense(1, activation ='sigmoid')])
nets_2.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['acc', AUC() ] ) #, Precision(), Recall()] )

In [ ]:
batch_size = 50 # A small batch sized is used for demonstration purposes
train_ds = df_to_dataset(X_train[fts_cols], y_train, batch_size=batch_size)
test_ds = df_to_dataset(X_test[fts_cols], y_test, shuffle=False, batch_size=batch_size)
predict_ds = df_to_dataset(predict_data[fts_cols], predict_data['id'], shuffle=False, batch_size=batch_size)

history = nets_2.fit( train_ds , epochs = 10
                    , validation_data = test_ds)
nets_2.summary()

Epoch 1/10
WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'dict'> input: {'Field_13': <tf.Tensor 'ExpandDims_9:0' shape=(None, 1) dtype=float32>, 'Field_14': <tf.Tensor 'ExpandDims_10:0' shape=(None, 1) dtype=float32>, 'Field_16': <tf.Tensor 'ExpandDims_11:0' shape=(None, 1) dtype=float32>, 'Field_17': <tf.Tensor 'ExpandDims_12:0' shape=(None, 1) dtype=float32>, 'Field_24': <tf.Tensor 'ExpandDims_18:0' shape=(None, 1) dtype=float32>, 'Field_26': <tf.Tensor 'ExpandDims_19:0' shape=(None, 1) dtype=float32>, 'Field_30': <tf.Tensor 'ExpandDims_24:0' shape=(None, 1) dtype=float32>, 'Field_31': <tf.Tensor 'ExpandDims_25:0' shape=(None, 1) dtype=float32>, 'Field_37': <tf.Tensor 'ExpandDims_27:0' shape=(None, 1) dtype=float32>, 'Field_39': <tf.Tensor 'ExpandDims_29:0' shape=(None, 1) dtype=float32>, 'Field_41': <tf.Tensor 'ExpandDims_31:0' shape=(None, 1) dtype=float32>, 'Field_42': <tf.Tensor 'ExpandDims_32:0' shape=(None, 1) dtype=float32>, 'Field_50': <tf.Tensor 'ExpandDims_34:0' shape=(None, 1) dtype=float32>, 'Field_51': <tf.Tensor 'ExpandDims_35:0' shape=(None, 1) dtype=float32>, 'Field_52': <tf.Tensor 'ExpandDims_36:0' shape=(None, 1) dtype=float32>, 'Field_53': <tf.Tensor 'ExpandDims_37:0' shape=(None, 1) dtype=float32>, 'Field_57': <tf.Tensor 'ExpandDims_40:0' shape=(None, 1) dtype=float32>, 'Field_73': <tf.Tensor 'ExpandDims_55:0' shape=(None, 1) dtype=float32>, 'partner0_A': <tf.Tensor 'ExpandDims_143:0' shape=(None, 1) dtype=float32>, 'partner0_B': <tf.Tensor 'ExpandDims_144:0' shape=(None, 1) dtype=float32>, 'partner0_C': <tf.Tensor 'ExpandDims_145:0' shape=(None, 1) dtype=float32>, 'partner0_D': <tf.Tensor 'ExpandDims_146:0' shape=(None, 1) dtype=float32>, 'partner0_E': <tf.Tensor 'ExpandDims_147:0' shape=(None, 1) dtype=float32>, 'partner0_F': <tf.Tensor 'ExpandDims_148:0' shape=(None, 1) dtype=float32>, 'partner0_G': <tf.Tensor 'ExpandDims_149:0' shape=(None, 1) dtype=float32>, 'partner0_H': <tf.Tensor 'ExpandDims_150:0' shape=(None, 1) dtype=float32>, 'partner0_K': <tf.Tensor 'ExpandDims_151:0' shape=(None, 1) dtype=float32>, 'partner0_L': <tf.Tensor 'ExpandDims_152:0' shape=(None, 1) dtype=float32>, 'partner1_A': <tf.Tensor 'ExpandDims_153:0' shape=(None, 1) dtype=float32>, 'partner1_B': <tf.Tensor 'ExpandDims_154:0' shape=(None, 1) dtype=float32>, 'partner1_C': <tf.Tensor 'ExpandDims_155:0' shape=(None, 1) dtype=float32>, 'partner1_D': <tf.Tensor 'ExpandDims_156:0' shape=(None, 1) dtype=float32>, 'partner1_E': <tf.Tensor 'ExpandDims_157:0' shape=(None, 1) dtype=float32>, 'partner1_F': <tf.Tensor 'ExpandDims_158:0' shape=(None, 1) dtype=float32>, 'partner1_G': <tf.Tensor 'ExpandDims_159:0' shape=(None, 1) dtype=float32>, 'partner1_H': <tf.Tensor 'ExpandDims_160:0' shape=(None, 1) dtype=float32>, 'partner1_K': <tf.Tensor 'ExpandDims_161:0' shape=(None, 1) dtype=float32>, 'partner1_L': <tf.Tensor 'ExpandDims_162:0' shape=(None, 1) dtype=float32>, 'partner2_A': <tf.Tensor 'ExpandDims_163:0' shape=(None, 1) dtype=float32>, 'partner2_B': <tf.Tensor 'ExpandDims_164:0' shape=(None, 1) dtype=float32>, 'partner2_C': <tf.Tensor 'ExpandDims_165:0' shape=(None, 1) dtype=float32>, 'partner2_D': <tf.Tensor 'ExpandDims_166:0' shape=(None, 1) dtype=float32>, 'partner2_E': <tf.Tensor 'ExpandDims_167:0' shape=(None, 1) dtype=float32>, 'partner2_F': <tf.Tensor 'ExpandDims_168:0' shape=(None, 1) dtype=float32>, 'partner2_G': <tf.Tensor 'ExpandDims_169:0' shape=(None, 1) dtype=float32>, 'partner2_H': <tf.Tensor 'ExpandDims_170:0' shape=(None, 1) dtype=float32>, 'partner2_K': <tf.Tensor 'ExpandDims_171:0' shape=(None, 1) dtype=float32>, 'partner2_L': <tf.Tensor 'ExpandDims_172:0' shape=(None, 1) dtype=float32>, 'partner3_A': <tf.Tensor 'ExpandDims_173:0' shape=(None, 1) dtype=float32>, 'partner3_B': <tf.Tensor 'ExpandDims_174:0' shape=(None, 1) dtype=float32>, 'partner3_C': <tf.Tensor 'ExpandDims_175:0' shape=(None, 1) dtype=float32>, 'partner3_D': <tf.Tensor 'ExpandDims_176:0' shape=(None, 1) dtype=float32>, 'partner3_E': <tf.Tensor 'ExpandDims_177:0' shape=(None, 1) dtype=float32>, 'partner3_F': <tf.Tensor 'ExpandDims_178:0' shape=(None, 1) dtype=float32>, 'partner3_G': <tf.Tensor 'ExpandDims_179:0' shape=(None, 1) dtype=float32>, 'partner3_H': <tf.Tensor 'ExpandDims_180:0' shape=(None, 1) dtype=float32>, 'partner3_K': <tf.Tensor 'ExpandDims_181:0' shape=(None, 1) dtype=float32>, 'partner3_L': <tf.Tensor 'ExpandDims_182:0' shape=(None, 1) dtype=float32>, 'partner4_A': <tf.Tensor 'ExpandDims_183:0' shape=(None, 1) dtype=float32>, 'partner4_B': <tf.Tensor 'ExpandDims_184:0' shape=(None, 1) dtype=float32>, 'partner4_C': <tf.Tensor 'ExpandDims_185:0' shape=(None, 1) dtype=float32>, 'partner4_D': <tf.Tensor 'ExpandDims_186:0' shape=(None, 1) dtype=float32>, 'partner4_E': <tf.Tensor 'ExpandDims_187:0' shape=(None, 1) dtype=float32>, 'partner4_F': <tf.Tensor 'ExpandDims_188:0' shape=(None, 1) dtype=float32>, 'partner4_G': <tf.Tensor 'ExpandDims_189:0' shape=(None, 1) dtype=float32>, 'partner4_H': <tf.Tensor 'ExpandDims_190:0' shape=(None, 1) dtype=float32>, 'partner4_K': <tf.Tensor 'ExpandDims_191:0' shape=(None, 1) dtype=float32>, 'partner4_L': <tf.Tensor 'ExpandDims_192:0' shape=(None, 1) dtype=float32>, 'partner5_A': <tf.Tensor 'ExpandDims_193:0' shape=(None, 1) dtype=float32>, 'partner5_B': <tf.Tensor 'ExpandDims_194:0' shape=(None, 1) dtype=float32>, 'partner5_C': <tf.Tensor 'ExpandDims_195:0' shape=(None, 1) dtype=float32>, 'partner5_D': <tf.Tensor 'ExpandDims_196:0' shape=(None, 1) dtype=float32>, 'partner5_E': <tf.Tensor 'ExpandDims_197:0' shape=(None, 1) dtype=float32>, 'partner5_F': <tf.Tensor 'ExpandDims_198:0' shape=(None, 1) dtype=float32>, 'partner5_G': <tf.Tensor 'ExpandDims_199:0' shape=(None, 1) dtype=float32>, 'partner5_H': <tf.Tensor 'ExpandDims_200:0' shape=(None, 1) dtype=float32>, 'partner5_K': <tf.Tensor 'ExpandDims_201:0' shape=(None, 1) dtype=float32>, 'partner5_L': <tf.Tensor 'ExpandDims_202:0' shape=(None, 1) dtype=float32>, 'Field_19': <tf.Tensor 'ExpandDims_13:0' shape=(None, 1) dtype=float32>, 'Field_20': <tf.Tensor 'ExpandDims_14:0' shape=(None, 1) dtype=float32>, 'Field_23': <tf.Tensor 'ExpandDims_17:0' shape=(None, 1) dtype=float32>, 'Field_27': <tf.Tensor 'ExpandDims_20:0' shape=(None, 1) dtype=float32>, 'Field_28': <tf.Tensor 'ExpandDims_21:0' shape=(None, 1) dtype=float32>, 'Field_29': <tf.Tensor 'ExpandDims_22:0' shape=(None, 1) dtype=float32>, 'Field_59': <tf.Tensor 'ExpandDims_42:0' shape=(None, 1) dtype=float32>, 'Field_60': <tf.Tensor 'ExpandDims_43:0' shape=(None, 1) dtype=float32>, 'Field_67': <tf.Tensor 'ExpandDims_50:0' shape=(None, 1) dtype=float32>, 'Field_69': <tf.Tensor 'ExpandDims_51:0' shape=(None, 1) dtype=float32>, 'Field_70': <tf.Tensor 'ExpandDims_52:0' shape=(None, 1) dtype=float32>, 'Field_71': <tf.Tensor 'ExpandDims_53:0' shape=(None, 1) dtype=float32>, 'Field_72': <tf.Tensor 'ExpandDims_54:0' shape=(None, 1) dtype=float32>, 'Field_74': <tf.Tensor 'ExpandDims_56:0' shape=(None, 1) dtype=float32>, 'Field_77': <tf.Tensor 'ExpandDims_59:0' shape=(None, 1) dtype=float32>, 'friendCount': <tf.Tensor 'ExpandDims_103:0' shape=(None, 1) dtype=float32>, 'subscriberCount': <tf.Tensor 'ExpandDims_203:0' shape=(None, 1) dtype=float32>, 'currentLocationLocationId': <tf.Tensor 'ExpandDims_70:0' shape=(None, 1) dtype=float32>, 'currentLocationLatitude': <tf.Tensor 'ExpandDims_69:0' shape=(None, 1) dtype=float32>, 'currentLocationLongitude': <tf.Tensor 'ExpandDims_71:0' shape=(None, 1) dtype=float32>, 'homeTownLocationId': <tf.Tensor 'ExpandDims_107:0' shape=(None, 1) dtype=float32>, 'homeTownLatitude': <tf.Tensor 'ExpandDims_106:0' shape=(None, 1) dtype=float32>, 'homeTownLongitude': <tf.Tensor 'ExpandDims_108:0' shape=(None, 1) dtype=float32>, 'numOrg': <tf.Tensor 'ExpandDims_141:0' shape=(None, 1) dtype=float32>, 'F_numQuery': <tf.Tensor 'ExpandDims_7:0' shape=(None, 1) dtype=float32>, 'E_numQuery': <tf.Tensor 'ExpandDims_5:0' shape=(None, 1) dtype=float32>, 'C_numQuery': <tf.Tensor 'ExpandDims_3:0' shape=(None, 1) dtype=float32>, 'A_numQuery': <tf.Tensor 'ExpandDims_1:0' shape=(None, 1) dtype=float32>, 'summary_6m': <tf.Tensor 'ExpandDims_207:0' shape=(None, 1) dtype=float32>, 'summary_3m': <tf.Tensor 'ExpandDims_206:0' shape=(None, 1) dtype=float32>, 'summary_1m': <tf.Tensor 'ExpandDims_204:0' shape=(None, 1) dtype=float32>, 'summary_1w': <tf.Tensor 'ExpandDims_205:0' shape=(None, 1) dtype=float32>, 'Field_78': <tf.Tensor 'ExpandDims_60:0' shape=(None, 1) dtype=float32>, 'Field_79': <tf.Tensor 'ExpandDims_61:0' shape=(None, 1) dtype=float32>, 'Field_80': <tf.Tensor 'ExpandDims_62:0' shape=(None, 1) dtype=float32>, 'Field_81': <tf.Tensor 'ExpandDims_63:0' shape=(None, 1) dtype=float32>, 'Field_4': <tf.Tensor 'ExpandDims_30:0' shape=(None, 1) dtype=string>, 'Field_12': <tf.Tensor 'ExpandDims_8:0' shape=(None, 1) dtype=string>, 'gioiTinh': <tf.Tensor 'ExpandDims_104:0' shape=(None, 1) dtype=string>, 'Field_36': <tf.Tensor 'ExpandDims_26:0' shape=(None, 1) dtype=string>, 'Field_38': <tf.Tensor 'ExpandDims_28:0' shape=(None, 1) dtype=string>, 'Field_47': <tf.Tensor 'ExpandDims_33:0' shape=(None, 1) dtype=string>, 'Field_54': <tf.Tensor 'ExpandDims_38:0' shape=(None, 1) dtype=string>, 'Field_55': <tf.Tensor 'ExpandDims_39:0' shape=(None, 1) dtype=string>, 'Field_61': <tf.Tensor 'ExpandDims_44:0' shape=(None, 1) dtype=string>, 'Field_62': <tf.Tensor 'ExpandDims_45:0' shape=(None, 1) dtype=string>, 'Field_65': <tf.Tensor 'ExpandDims_48:0' shape=(None, 1) dtype=string>, 'Field_66': <tf.Tensor 'ExpandDims_49:0' shape=(None, 1) dtype=string>, 'info_social_sex': <tf.Tensor 'ExpandDims_110:0' shape=(None, 1) dtype=string>, 'data.basic_info.locale': <tf.Tensor 'ExpandDims_73:0' shape=(None, 1) dtype=string>, 'currentLocationCountry': <tf.Tensor 'ExpandDims_68:0' shape=(None, 1) dtype=string>, 'currentLocationState': <tf.Tensor 'ExpandDims_72:0' shape=(None, 1) dtype=string>, 'homeTownCountry': <tf.Tensor 'ExpandDims_105:0' shape=(None, 1) dtype=string>, 'homeTownState': <tf.Tensor 'ExpandDims_109:0' shape=(None, 1) dtype=string>, 'brief': <tf.Tensor 'ExpandDims_67:0' shape=(None, 1) dtype=string>, 'Field_3': <tf.Tensor 'ExpandDims_23:0' shape=(None, 1) dtype=string>, 'Field_21': <tf.Tensor 'ExpandDims_15:0' shape=(None, 1) dtype=string>, 'Field_22': <tf.Tensor 'ExpandDims_16:0' shape=(None, 1) dtype=string>, 'namSinh': <tf.Tensor 'ExpandDims_140:0' shape=(None, 1) dtype=string>, 'Field_58': <tf.Tensor 'ExpandDims_41:0' shape=(None, 1) dtype=string>, 'Field_63': <tf.Tensor 'ExpandDims_46:0' shape=(None, 1) dtype=string>, 'Field_64': <tf.Tensor 'ExpandDims_47:0' shape=(None, 1) dtype=string>, 'Field_75': <tf.Tensor 'ExpandDims_57:0' shape=(None, 1) dtype=string>, 'Field_76': <tf.Tensor 'ExpandDims_58:0' shape=(None, 1) dtype=string>, 'topFriends': <tf.Tensor 'ExpandDims_208:0' shape=(None, 1) dtype=string>, 'F_numOrg': <tf.Tensor 'ExpandDims_6:0' shape=(None, 1) dtype=string>, 'E_numOrg': <tf.Tensor 'ExpandDims_4:0' shape=(None, 1) dtype=string>, 'C_numOrg': <tf.Tensor 'ExpandDims_2:0' shape=(None, 1) dtype=string>, 'G_numOrg': <tf.Tensor 'ExpandDims_65:0' shape=(None, 1) dtype=string>, 'G_numQuery': <tf.Tensor 'ExpandDims_66:0' shape=(None, 1) dtype=string>, 'A_numOrg': <tf.Tensor 'ExpandDims:0' shape=(None, 1) dtype=string>, 'num_of_phone': <tf.Tensor 'ExpandDims_142:0' shape=(None, 1) dtype=string>, 'Field_82': <tf.Tensor 'ExpandDims_64:0' shape=(None, 1) dtype=string>, 'year_ofField_1': <tf.Tensor 'ExpandDims_217:0' shape=(None, 1) dtype=string>, 'month_ofField_1': <tf.Tensor 'ExpandDims_119:0' shape=(None, 1) dtype=string>, 'day_ofField_1': <tf.Tensor 'ExpandDims_82:0' shape=(None, 1) dtype=string>, 'year_ofField_2': <tf.Tensor 'ExpandDims_221:0' shape=(None, 1) dtype=string>, 'month_ofField_2': <tf.Tensor 'ExpandDims_123:0' shape=(None, 1) dtype=string>, 'day_ofField_2': <tf.Tensor 'ExpandDims_86:0' shape=(None, 1) dtype=string>, 'year_ofField_5': <tf.Tensor 'ExpandDims_230:0' shape=(None, 1) dtype=string>, 'month_ofField_5': <tf.Tensor 'ExpandDims_132:0' shape=(None, 1) dtype=string>, 'day_ofField_5': <tf.Tensor 'ExpandDims_95:0' shape=(None, 1) dtype=string>, 'year_ofField_6': <tf.Tensor 'ExpandDims_231:0' shape=(None, 1) dtype=string>, 'month_ofField_6': <tf.Tensor 'ExpandDims_133:0' shape=(None, 1) dtype=string>, 'day_ofField_6': <tf.Tensor 'ExpandDims_96:0' shape=(None, 1) dtype=string>, 'year_ofField_7': <tf.Tensor 'ExpandDims_232:0' shape=(None, 1) dtype=string>, 'month_ofField_7': <tf.Tensor 'ExpandDims_134:0' shape=(None, 1) dtype=string>, 'day_ofField_7': <tf.Tensor 'ExpandDims_97:0' shape=(None, 1) dtype=string>, 'year_ofField_8': <tf.Tensor 'ExpandDims_233:0' shape=(None, 1) dtype=string>, 'month_ofField_8': <tf.Tensor 'ExpandDims_135:0' shape=(None, 1) dtype=string>, 'day_ofField_8': <tf.Tensor 'ExpandDims_98:0' shape=(None, 1) dtype=string>, 'year_ofField_9': <tf.Tensor 'ExpandDims_234:0' shape=(None, 1) dtype=string>, 'month_ofField_9': <tf.Tensor 'ExpandDims_136:0' shape=(None, 1) dtype=string>, 'day_ofField_9': <tf.Tensor 'ExpandDims_99:0' shape=(None, 1) dtype=string>, 'year_ofField_10': <tf.Tensor 'ExpandDims_218:0' shape=(None, 1) dtype=string>, 'month_ofField_10': <tf.Tensor 'ExpandDims_120:0' shape=(None, 1) dtype=string>, 'day_ofField_10': <tf.Tensor 'ExpandDims_83:0' shape=(None, 1) dtype=string>, 'year_ofField_11': <tf.Tensor 'ExpandDims_219:0' shape=(None, 1) dtype=string>, 'month_ofField_11': <tf.Tensor 'ExpandDims_121:0' shape=(None, 1) dtype=string>, 'day_ofField_11': <tf.Tensor 'ExpandDims_84:0' shape=(None, 1) dtype=string>, 'year_ofField_15': <tf.Tensor 'ExpandDims_220:0' shape=(None, 1) dtype=string>, 'month_ofField_15': <tf.Tensor 'ExpandDims_122:0' shape=(None, 1) dtype=string>, 'day_ofField_15': <tf.Tensor 'ExpandDims_85:0' shape=(None, 1) dtype=string>, 'year_ofField_25': <tf.Tensor 'ExpandDims_222:0' shape=(None, 1) dtype=string>, 'month_ofField_25': <tf.Tensor 'ExpandDims_124:0' shape=(None, 1) dtype=string>, 'day_ofField_25': <tf.Tensor 'ExpandDims_87:0' shape=(None, 1) dtype=string>, 'year_ofField_32': <tf.Tensor 'ExpandDims_223:0' shape=(None, 1) dtype=string>, 'month_ofField_32': <tf.Tensor 'ExpandDims_125:0' shape=(None, 1) dtype=string>, 'day_ofField_32': <tf.Tensor 'ExpandDims_88:0' shape=(None, 1) dtype=string>, 'year_ofField_33': <tf.Tensor 'ExpandDims_224:0' shape=(None, 1) dtype=string>, 'month_ofField_33': <tf.Tensor 'ExpandDims_126:0' shape=(None, 1) dtype=string>, 'day_ofField_33': <tf.Tensor 'ExpandDims_89:0' shape=(None, 1) dtype=string>, 'year_ofField_35': <tf.Tensor 'ExpandDims_226:0' shape=(None, 1) dtype=string>, 'month_ofField_35': <tf.Tensor 'ExpandDims_128:0' shape=(None, 1) dtype=string>, 'day_ofField_35': <tf.Tensor 'ExpandDims_91:0' shape=(None, 1) dtype=string>, 'year_ofField_40': <tf.Tensor 'ExpandDims_227:0' shape=(None, 1) dtype=string>, 'month_ofField_40': <tf.Tensor 'ExpandDims_129:0' shape=(None, 1) dtype=string>, 'day_ofField_40': <tf.Tensor 'ExpandDims_92:0' shape=(None, 1) dtype=string>, 'year_ofField_43': <tf.Tensor 'ExpandDims_228:0' shape=(None, 1) dtype=string>, 'month_ofField_43': <tf.Tensor 'ExpandDims_130:0' shape=(None, 1) dtype=string>, 'day_ofField_43': <tf.Tensor 'ExpandDims_93:0' shape=(None, 1) dtype=string>, 'year_ofField_44': <tf.Tensor 'ExpandDims_229:0' shape=(None, 1) dtype=string>, 'month_ofField_44': <tf.Tensor 'ExpandDims_131:0' shape=(None, 1) dtype=string>, 'day_ofField_44': <tf.Tensor 'ExpandDims_94:0' shape=(None, 1) dtype=string>, 'year_ofF_startDate': <tf.Tensor 'ExpandDims_216:0' shape=(None, 1) dtype=string>, 'month_ofF_startDate': <tf.Tensor 'ExpandDims_118:0' shape=(None, 1) dtype=string>, 'day_ofF_startDate': <tf.Tensor 'ExpandDims_81:0' shape=(None, 1) dtype=string>, 'year_ofF_endDate': <tf.Tensor 'ExpandDims_215:0' shape=(None, 1) dtype=string>, 'month_ofF_endDate': <tf.Tensor 'ExpandDims_117:0' shape=(None, 1) dtype=string>, 'day_ofF_endDate': <tf.Tensor 'ExpandDims_80:0' shape=(None, 1) dtype=string>, 'year_ofE_startDate': <tf.Tensor 'ExpandDims_214:0' shape=(None, 1) dtype=string>, 'month_ofE_startDate': <tf.Tensor 'ExpandDims_116:0' shape=(None, 1) dtype=string>, 'day_ofE_startDate': <tf.Tensor 'ExpandDims_79:0' shape=(None, 1) dtype=string>, 'year_ofE_endDate': <tf.Tensor 'ExpandDims_213:0' shape=(None, 1) dtype=string>, 'month_ofE_endDate': <tf.Tensor 'ExpandDims_115:0' shape=(None, 1) dtype=string>, 'day_ofE_endDate': <tf.Tensor 'ExpandDims_78:0' shape=(None, 1) dtype=string>, 'year_ofC_startDate': <tf.Tensor 'ExpandDims_212:0' shape=(None, 1) dtype=string>, 'month_ofC_startDate': <tf.Tensor 'ExpandDims_114:0' shape=(None, 1) dtype=string>, 'day_ofC_startDate': <tf.Tensor 'ExpandDims_77:0' shape=(None, 1) dtype=string>, 'year_ofC_endDate': <tf.Tensor 'ExpandDims_211:0' shape=(None, 1) dtype=string>, 'month_ofC_endDate': <tf.Tensor 'ExpandDims_113:0' shape=(None, 1) dtype=string>, 'day_ofC_endDate': <tf.Tensor 'ExpandDims_76:0' shape=(None, 1) dtype=string>, 'year_ofG_startDate': <tf.Tensor 'ExpandDims_236:0' shape=(None, 1) dtype=string>, 'month_ofG_startDate': <tf.Tensor 'ExpandDims_138:0' shape=(None, 1) dtype=string>, 'day_ofG_startDate': <tf.Tensor 'ExpandDims_101:0' shape=(None, 1) dtype=string>, 'year_ofG_endDate': <tf.Tensor 'ExpandDims_235:0' shape=(None, 1) dtype=string>, 'month_ofG_endDate': <tf.Tensor 'ExpandDims_137:0' shape=(None, 1) dtype=string>, 'day_ofG_endDate': <tf.Tensor 'ExpandDims_100:0' shape=(None, 1) dtype=string>, 'year_ofA_startDate': <tf.Tensor 'ExpandDims_210:0' shape=(None, 1) dtype=string>, 'month_ofA_startDate': <tf.Tensor 'ExpandDims_112:0' shape=(None, 1) dtype=string>, 'day_ofA_startDate': <tf.Tensor 'ExpandDims_75:0' shape=(None, 1) dtype=string>, 'year_ofA_endDate': <tf.Tensor 'ExpandDims_209:0' shape=(None, 1) dtype=string>, 'month_ofA_endDate': <tf.Tensor 'ExpandDims_111:0' shape=(None, 1) dtype=string>, 'day_ofA_endDate': <tf.Tensor 'ExpandDims_74:0' shape=(None, 1) dtype=string>, 'year_ofngaySinh': <tf.Tensor 'ExpandDims_237:0' shape=(None, 1) dtype=string>, 'month_ofngaySinh': <tf.Tensor 'ExpandDims_139:0' shape=(None, 1) dtype=string>, 'day_ofngaySinh': <tf.Tensor 'ExpandDims_102:0' shape=(None, 1) dtype=string>, 'year_ofField_34': <tf.Tensor 'ExpandDims_225:0' shape=(None, 1) dtype=string>, 'month_ofField_34': <tf.Tensor 'ExpandDims_127:0' shape=(None, 1) dtype=string>, 'day_ofField_34': <tf.Tensor 'ExpandDims_90:0' shape=(None, 1) dtype=string>}
Consider rewriting this model with the Functional API.

Dự đoán và xuất file kế quả

In [ ]:
plt.plot(history.history['loss'])
plt.plot(history.history['val_loss'])

In [ ]:
y_predict_pred= nets_2.predict(predict_ds )
y_predict_pred

In [ ]:
res_df = pd.DataFrame({'id': test_set.id, 'label': y_predict_pred.reshape(y_predict_pred.shape[0])})
res_df.to_csv('submission.csv', index=False)